.App {
  text-align: center;
  /* margin: 0 auto; */
}

.firstDiv {
  width: 100%;
  height: 300px;
  background-color: aqua;
  display: flex;
}

.uplodeImg {
  flex-direction: column;
  background-color: red;
  width: 50%;
  margin: 5px;
}

.showGif {
  flex-direction: column;
  background-color: aquamarine;
  width: 50%;
  margin: 5px;
}


.secDiv {
  width: 100%;
  height: 300px;
  background-color: gold;
  margin: 2px auto;
}

img {
  width: 100px;
  height: 100px;
}

.searchDiv {
  height: 50px;
  width: 80%;
  margin: 2px auto;
  background-color: gray;
}

.imgGallery {
  background-color: bisque;
  height: 200px;
  width: 80%;
  margin: 2px auto;
  display: flex;
}

.eachImg {
  flex-direction: column;
  background-color: forestgreen;
  width: 50%;
  height: 190px;
  margin: 3px auto;
}
